html,body { 
    height:100%; 
}

.logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:#f7f8fa;
    /* border-bottom: 2px solid rgb(6, 42, 94); */
    box-shadow: 0px 1px 15px 1px grey;
    position: relative;
}

.logo {
    margin: 20px 0px 20px 0px;
    width: 370px;
}

#array-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 450px;
    max-width: 100%;
    margin: 0px auto;

    --stripe: #ffffff;
    --bg: #f1f1f1;

    background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, var(--bg) 25%, transparent 25%),
    linear-gradient(45deg, var(--bg) 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: var(--stripe);
}
.array-bar {
    width: 70px;
    margin: 0px 1px 0px 1px;
    border-radius: 5px;
}

#controls {
    display: flex;
    justify-content: space-evenly;
    background-color: #f7f8fa;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -5px;
    box-shadow: 0px 1px 15px 1px grey;
    position: relative;
}

#footer {
    padding-top: 10px;
    text-align: center;
    background-color: #f7f8fa;
    min-height: calc(100vh - 50px);
    position: relative;

}