html,body { 
    height:100%; 
}

.logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:#f7f8fa;
    /* border-bottom: 2px solid rgb(6, 42, 94); */
    box-shadow: 0px 1px 15px 1px grey;
}

.logo {
    margin: 20px 0px 20px 0px;
    width: 370px;
}

#array-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 450px;
    max-width: 1200px;
    margin: 0px auto;
}
.array-bar {
    width: 70px;
    margin: 0px 1px 0px 1px;
    border-radius: 5px;
}

#controls {
    display: flex;
    justify-content: space-evenly;
    background-color: #f7f8fa;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -5px;
    box-shadow: 0px 1px 15px 1px grey;
    position: relative;
}

#footer {
    padding-top: 10px;
    text-align: center;
    background-color: #f7f8fa;
    min-height: calc(100vh - 50px);
    position: relative;

}